<footer>
    <div class="f-main">
        <div class="f-socialMedia">
            <a href="https://www.linkedin.com/in/srinivas-jukanti-69753624b/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/jukantisrinu33"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="WanderLustcopyright">WanderLust Private Limited&copy;</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>